@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes blinking {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes caret_motion {
    0% {
        transform: scale(1, 0);
        transform-origin: center top bottom;
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 0);
        transform-origin: center top bottom;
    }
}
@keyframes type_motion {
    0% { transform: scale(0.7, 0.7); }
    100% { transform: scale(1, 1); }
}
@keyframes shake_motion {
    0% {
        transform: translate(-4px, 0);
    }
    20% {
        transform: translate(4px, 2px);
    }
    40% {
        transform: translate(-10px, -4px);
    }
    60% {
        transform: translate(11px, 5px);
    }
    80% {
        transform: translate(-6px, -1px);
    }
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

#frame1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: 1px solid gray;
    background: rgba(255, 255, 255, 0.5);
}

#frame2 {
    position: fixed;
    text-align: center;
    backdrop-filter: blur(2px);
    height: 70vh;
    width: 25rem;
    border: 2px solid #2b2b2b;
}

#caret { position: relative; }
#caret::after {
    position: absolute;
    content: '';
    left: 0;
    width: 2px;
    height: 80%;
    background: #2b2b2b75;
    animation: caret_motion 1.5s infinite;
}

.roman_box {
    height: 2rem;
    display: flex;
    border: #2b2b2b;
}

.animation1 { animation: fadeIn 1.5s; }

.animation2 { animation: blinking 1.5s infinite; }

.animation3 { animation: type_motion .2s; }

.animation4 { animation: shake_motion .25s steps(2); }

.missUnder {
    position: relative;
}
.missUnder::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    width: 8px;
    height: 2px;
    background: #2b2b2b;
}

#pressedRoman {
    padding: 2px;
    color: #ffaf0f;
}

#correctRoman {
    color: #8a8a8a;
}
